
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

#site {  font-family: "Manrope", sans-serif;
    font-weight: 800; color:#8367C7; font-size:1em;}

body {padding:50px;text-align: center; font-family:Verdana,sans-serif;color:#F7F3E3;background-color:#0D1321;}

#snellen{font: 800 152px "Courier New", serif;}
#big {font-size:152px;}
#big2 {font-size:130px;}
#big3 {font-size:108px;}
#big4 {font-size:87px;}
#mid {font-size:65px;}
#small4 {font-size:43px;}
#small3 {font-size:33px;}
#small2 {font-size:21px;}
#small1 {font-size:15px;}
#small {font-size:9px;}

hr#first {width:500px;height: 20px; background-color:#60935D; border:0px;}
hr#second {width:200px;height: 20px; background-color:#AA5042; border:0px;}